@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body {
    background-image: url(http://static.tumblr.com/vy2pzfk/46zls6lto/deserve_bg.jpg);
    font-family: 'PT Sans';
}

#wrapper {
    background-image: url(http://kingofwallpapers.com/green-background-images/green-background-images-011.jpg);
    width: 1000px;
    max-width: 960px;
    margin: 0 auto;
    padding: 32px;
    min-height: 990px;
     
}
header {
    margin-top: 0px;
    background-image: url(lmao.png);
    height: 200px;
    padding: 100px;
}


.main_menu {
    padding-bottom: 50px;
    height: 33px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-image: url();
}

ul.main_menu {
    margin-top: 15px;
    
}

.main_menu li {
    display: inline;
    padding 0px 10px 0 10px
    font-size 16px;  
}

.main_menu a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    font-variant: small-caps;
}

.main_menu a:hover {
    color: aqua; 

}

